<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <title>Our Store!!!</title>
</head>
<body>

<div class="container" ng-controller="StoreCtrl as vm">
    <h1>
        My Awesome Store!
    </h1>
    <div class="row">

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inventory</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="product in vm.inventory">
                        <button class="btn btn-success btn-xs"
                        ng-click="vm.addToCart(product)"><i class="glyphicon glyphicon-plus"></i></button>
                        {{product.title}}
                        <span class="badge">{{product.price|currency}}</span>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-sm-4">
            <cart items="vm.cart"></cart>
        </div>


    </div>

    <very-nice-panel title="'shalom'" content="'yo yo yo'"></very-nice-panel>
    <very-nice-panel title="'123213'" content="'yo yasdfdafadfao yo'"></very-nice-panel>
    <very-nice-panel title="'shal23454235om'" content="'yoadfdafasf yo yo'"></very-nice-panel>
    <very-nice-panel title="'454545'" content="'yo yo asfasdfadsf'"></very-nice-panel>
    <very-nice-panel title="'sha44454lom'" content="'yasfodsdfdasfaf yo yo'"></very-nice-panel>

</div>

<script src="angular.js"></script>
<script src="store.js"></script>
<script src="very-nice-panel.component.js"></script>
<script src="cart.component.js"></script>

</body>
</html>